@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    padding: 1.4rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 1.8rem;
}

#title {
    font-size: 1.6rem;
    font-weight: 600;
}

#btnsWrapper {
    width: 12rem;
    height: 12rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#selectedFile {
    width: 12rem;
    margin: 0.4rem 0;
    text-align: center;
}

.btn {
    width: 100%;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 8px;
    margin: 0.6rem;
    background-color: #ffdab9;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 2px 3px #e0e0e0;
    }

    &:disabled {
        cursor: not-allowed;
        box-shadow: none;
    }
}

#startBtn {
    background-color: #80ed99;
}

#saveLoginBtn {
    background-color: #f4d35e;
}

#logsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#logsTitle {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.12rem;
    align-self: flex-start;
}

#logsData {
    width: 100%;
    margin: 0.5rem 0;
    overflow-y: auto;
    color: gray;
}

#logsData p {
    margin: 0.3rem 0;
}

footer {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.noInteraction {
    user-select: none;
    pointer-events: none;
    cursor: default;
}